# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C_class\advanced_qck_srt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
