# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\C_class\polynomial_value\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
